@{
    ViewBag.Title = "Todo App";
}

<div class="d-flex vh-100 align-items-center justify-content-center text-center">
    <div>
        <h1>Welcome to ToDoApp</h1>
        <p>Manage your projects and todos efficiently.</p>
        <div>
            <a href="/Auth/Login" class="btn btn-primary me-3">Sign In</a>
            <a href="/Auth/Signup" class="btn btn-secondary">Sign Up</a>
        </div>
    </div>
</div>
